body {
  background: #c5e1a5;
}

h4 {
  color: #000000;
  text-align: center;
  padding-top: 5px;
}

form {
  width: 30%;
  margin: 10px auto;
  background: #efefef;
  padding: 20px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  position: relative;
  margin: 40px 0px;
}


input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.line-box {
    position: relative;
    width: 100%;
    height: 1px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  } 
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  } 
  
  button:hover {
    background: #8BC34A;
    color: #ffffff;
  }

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.col-7 {
  width: 58.33%;
}

.col-5 {
  width: 41.66%;
}

.col-4 {
  width: 33.33%;
}
